Test/Service References/ServiceReference1/ServiceSMS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53157/ServiceSMS.svc?xsd=xsd2" namespace="http://www.apmterminals.com" />
  <xs:element name="EnviarMensajeBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.apmterminals.com" minOccurs="0" name="request" nillable="true" type="q1:ServiceSMSRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensajeBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.apmterminals.com" minOccurs="0" name="EnviarMensajeBatchResult" nillable="true" type="q2:ServiceSMSResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>